.detail-item {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

.transfer-details-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    width: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
}

h2 {
    margin-bottom: 50px;
}