<div class="home-page container-fluid p-0">
  <app-header></app-header>

  <div class="home-container row g-0">
    <div class="col-12 col-md-3 col-lg-2 border-end bg-light">
      <app-sidebar (fundTransferHover)="onFundTransferHover($event)"></app-sidebar>
    </div>

    <div class="home-content-container col-12 col-md-9 col-lg-10 position-relative p-4">
      <div
        class="fund-transfer-dropdown position-absolute bg-white shadow rounded mt-2"
        *ngIf="showFundTransferDropdown"
        (mouseenter)="onDropdownHover(true)"
        (mouseleave)="onDropdownHover(false)"
        style="z-index: 10; min-width: 220px;"
      >
        <ul class="list-group list-group-flush">
          <li class="list-group-item list-group-item-action" (click)="goToTransfer('Inter Bank')">Inter Bank</li>
          <li class="list-group-item list-group-item-action" (click)="goToTransfer('Intra Bank')">Intra Bank</li>
          <li class="list-group-item list-group-item-action" (click)="goToTransfer('NRI Bank')">NRI Bank</li>
        </ul>
      </div>

      <div class="home-content centered" *ngIf="!isChildRouteActive">
        <div class="alert alert-info mb-0 text-center">
          Select an option from the sidebar to get started.
        </div>
      </div>

      <router-outlet *ngIf="isChildRouteActive"></router-outlet>
    </div>
  </div>
</div>
