.home-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* 🔒 lock page */
}

.home-container {
  flex: 1;
  display: flex;
  overflow: hidden; /* 🔒 lock body */
}

/* Sidebar */
app-sidebar {
  width: 250px;
  height: 100%;
  flex-shrink: 0;
}

/* Content */
.home-content-container {
  flex: 1;
  padding: 20px;
  overflow: hidden; /* 🔒 no scroll */
}

.home-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}